h2 {
  font-family: "Kanit", sans-serif;
  margin-left: 8cm;
  font-weight: 5000;
  margin-bottom: 1cm;
  margin: auto;
  padding: 20px;
}

p {
  font-family: "Rajdhani", sans-serif;
  margin-left: 60px;
  font-size: medium;
  margin-top: 4px;
}

img {
  height: 500px;
  width: 50px;
  border-radius: 20px;
}

.swiper-slide img {
  width: 400px;
  height: 500px;
  margin-left: 43px;
}

@media only screen and (max-width: 1300px) {
  .mySwiper {
    .swiper-wrapper {
      gap: 0px;
    }
  }
  .swiper-slide img {
    width: 350px;
    height: 500px;
    margin-left: 4px;
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .mySwiper {
    .swiper-wrapper {
      gap: 0px;
    }
  }
  .swiper-slide img {
    width: 350px;
    height: 500px;
    margin-left: 2px;
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .mySwiper {
    .swiper-wrapper {
      gap: 0px;
    }
  }
}
